body {
  margin: 0;
  padding: 0;
  background-color: #fff3e6;
}

#header {
  height: 500px;
  display: flex;
  justify-content: center;
  background-color: #660033;
  align-items: center;
}

#header span {
  color: #ffe6cc;
  border-bottom: 2px solid #ffe6cc;
  font-size: 2vw;
}

#navigation {
  display: flex;
}

#navigation button {
  margin: 0;
  height: 10vh;
  width: 14.17vw;
  color: #332200;
  background-color: #fff3e6;
  border: none;
  outline: none;
  transition-duration: 0.5s;
  font-size: 1.5vw;
  font-family: Times;
  cursor: pointer;
}

#navigation button:hover {
  background-color: #ffdd99;
}

#intro {
  padding: 1vw;
  font-size: 1.2vw;
}

#intro span {
  margin: 1vw;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vw;
}

.title span {
  color: #332200;
  font-size: 2vw;
  border-bottom: 2px solid #332200;
}

.paragraph {
  margin: 2vw;
  color: #332200;
  font-size: 1.2vw;
  text-indent: 1vw;
}
